
<div fxHide fxShow.lt-sm="true">

    <button mat-button (click)="signIn()" *ngIf="!signedIn">
        <mat-icon>fingerprint</mat-icon>
        <span>Sign in</span>
    </button>

    <button mat-button (click)="signOut()" *ngIf="signedIn">
        <mat-icon>lock_outline</mat-icon>
        <span>Sign out</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button>
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
    </button>

    <mat-divider></mat-divider>
    
    <button mat-button (click)="changeTheme()">
        <mat-icon>invert_colors</mat-icon>
        <span>Change Theme</span>
    </button>
        
</div>


<div fxHide fxShow.gt-xs="true">

    <div mat-list-item class="wrapper">
        <button mat-button>
            <mat-icon class="fa fa-2x fa-bath"></mat-icon>
            <span *ngIf="isSideMenuOpen">Title A xxx xxx xxx</span>
        </button>
    </div>

    <div mat-list-item class="wrapper">
        <button mat-button>
            <mat-icon class="fa fa-2x fa-bath"></mat-icon>
            <span *ngIf="isSideMenuOpen">Title B xxxxxxxxxxxxxxxxxxxxxxxxx</span>
        </button>
    </div>

    <div mat-list-item class="wrapper">
        <button mat-button>
            <mat-icon class="fa fa-2x fa-bath"></mat-icon>
            <span *ngIf="isSideMenuOpen">Title C</span>
        </button>
    </div>
        
</div>