
@import '~@angular/material/theming';

@mixin signin-theme($theme, $isDark) {

    // define our colour variables from our main theme palettes
    $primary-color: map-get($theme, primary);
    $secondary-color: map-get($theme, accent);
    $warn-color:  map-get($theme, warn);
    
        
    .signin {

        @if $isDark {
            color: mat-color($primary-color);
            
        } else {
              color: mat-color($primary-color, default-contrast);
        }
    }

    .sign-in-card {
        background-color: mat-color($warn-color);
    }
}